<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>借款成功</title>
</head>
<body>


<%- include('../../component/borrow_process/borrow_fail.ejs')%>



<script>


</script>

</body>
</html>
