<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>确认借钱</title>
</head>
<body>


<%- include('../../component/borrow_process/check_borrow.ejs')%>



<script>


</script>

</body>
</html>
