<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">借款审核通过!</p>

    <p class="success_text"></p>

    <%- include('../basic/two_btn.ejs',{
        "btntextone":"去提现",
        "btntexttwo":"返回首页",
        "hrefone":"#",
        "hreftwo":"../homepage/homepage.html"
    })%>

</div>