<div class="check_progress_page">

    <!--通用进度条-->

    <div class="progress_bar">
        <!--当前处于哪一步则添加class值show,如果接下来还有步骤则添加class值more-->
        <div class="step show nopassed">
            <p class="title">信用未达标、审核不通过</p>
            <span class="time">2017-01-01 10:00:00</span>
        </div>
        <div class="step">
            <p class="title">提交成功</p>
            <p class="min_text">借款<span>￥3000.00</span>、服务费<span>￥65.00</span>、优惠<span>￥45.00</span></p>
            <span class="time">2017-01-01 10:00:00</span>
        </div>
    </div>



</div>

