<div class="jf_salary  check_borrow">

    <div class="salary_main">
        <p class="title">借款金额(元)</p>

        <p class="num list_line"><span class="money_num">5000</span></p>

        <p class="check_list list_line"><span>还款日</span><span>2017/08/01</span></p>

        <p class="check_list"><span>还款金额(元)</span><span>3000.00</span></p>


        <div class="date_main">

            <div>
                <p class="title">平台到账(元)</p>
            </div>

            <div>3965.00</div>

        </div>
    </div>



</div>


<div class="agreement">
    <label><input type="checkbox" class="">我已经阅读并同意</label><a href="borrow_agreement.html">《借款服务协议》</a>
</div>



<div class="bottom_btn homepage_btn">
    <a href="borrow_success.html">确认借钱</a>
</div>




