<div class="fail_page">
    <%- include('../basic/icon_fail.ejs')%>

    <p class="fail_title">认证失败</p>

    <p class="fail_text">认证失败，请重新认证！</p>


    <div class="bottom_btn_fail">
        <a href="main.html">返回</a>
    </div>

</div>

