<div class="act">
    <div class="act_content">
        <img src="../../images/activity_content.jpg" alt="" class="content_act">
    </div>
    <div class="qr_code" >
        <img src="../../images/activity_QRcode.jpg" alt="" class="qr_code_act">
    </div>
</div>