<div class="salary_record">

    <div class="main_record">

       <!-- <a class="record_lists approve">
            <div>
                <img src="../../images/icon_approving.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>审批中</span>
                <span>2017-02-02</span>
            </div>
        </a>-->

        <a class="record_lists return" href="../borrow_process/borrow_process_return.html">
            <div>
                <img src="../../images/icon_returning.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>还款中</span>
                <span>2017-02-02</span>
            </div>
        </a>

        <a class="record_lists finished" href="../borrow_process/borrow_process_finished.html">
            <div>
                <img src="../../images/icon_finished.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>已还清</span>
                <span>2017-02-02</span>
            </div>
        </a>

        <a class="record_lists nopassed" href="../borrow_process/borrow_process_nopassed.html">
            <div>
                <img src="../../images/icon_nopassed.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>未通过</span>
                <span>2017-02-02</span>
            </div>
        </a>


       <!-- <a class="record_lists approve">
            <div>
                <img src="../../images/icon_approving.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>审批中</span>
                <span>2017-02-02</span>
            </div>
        </a>-->

        <a class="record_lists return" href="../borrow_process/borrow_process_return.html">
            <div>
                <img src="../../images/icon_returning.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>还款中</span>
                <span>2017-02-02</span>
            </div>
        </a>

        <a class="record_lists finished" href="../borrow_process/borrow_process_finished.html">
            <div>
                <img src="../../images/icon_finished.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>已还清</span>
                <span>2017-02-02</span>
            </div>
        </a>

        <a class="record_lists nopassed" href="../borrow_process/borrow_process_nopassed.html">
            <div>
                <img src="../../images/icon_nopassed.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>未通过</span>
                <span>2017-02-02</span>
            </div>
        </a>



    </div>


    <div class="no_more_record">
        <img src="../../images/icon_more_record.png">
        <p>没有更多记录了</p>
    </div>




</div>