<div class="mine">

    <div class="person_account">
        <p class="name">中堡</p>
        <p class="telphone"><span>158 </span>****<span> 2054</span></p>
    </div>

    <div class="common_lists">
        <a class="list arrow">
            <div class="icon"><img src="../../images/icon_borrow_record.png"></div>
            <div class="title">借款记录</div>
            <div class="balance"></div>
        </a>

        <a class="list arrow no_line">
            <div class="icon"><img src="../../images/icon_return_record.png"></div>
            <div class="title">还款记录</div>
            <div class="balance"></div>
        </a>

    </div>
    <div class="common_lists">
        <a class="list arrow no_line">
            <div class="icon"><img src="../../images/icon_borrow_record.png"></div>
            <div class="title">借款记录</div>
            <div class="balance"></div>
        </a>
    </div>
</div>